body {
  margin: 0;
  padding: 0;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  z-index: 100; 
  margin-top:20px;/* keeps nav above other content */
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

nav a:hover {
  color: #007BFF;
}

nav .nav-logo {
  width: 80px;
  height: auto;
}

main {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(6, 1, 16, 0.5), rgba(44, 3, 192, 0.13)), url(/assests/mascoute.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;/* add space for fixed nav */
}

.main-content {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 80px;
  font-style: italic;
  color: #deeeff;
  font-weight: 300;
  margin: 0px;
}

p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #b7daff;
  text-align: center;
  margin: 0px;
  width: 50%;
}
.pa{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #1368c3fa;
  text-align: left;
  margin: 0px;
  width: 50%;
}

