img{
width: 100vh; 
height: auto;}

body{
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
div.content-text{
    max-width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    text-align: center;
    align-content: center;
    row-gap: 20px;
}
.images{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
img,video{
    width: 100vh;
    height: auto;
}
main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 100px 0px 100px 0px;
    align-items: center;
}
h1{
    font-size: 60px;
    margin: 0px 0px 0px 0px;
}
p{  font-size: 18px;
    margin: 0px 0px 0px 0px;
}
h2{
    font-size: 40px;
    margin: 0px 0px 0px 0px;
}
section{
     display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 100px 0px 0px 0px;
    align-items: center;
}
