div{
    width: 400px;
    height: auto;
    align-items: center;
    justify-items: center;
    align-content: center;
}
body{
    align-items: center;
    justify-items: center;
}
table{
    margin:80px;
}
img{
    width: 300px;
    height: auto;
}